:root {
    --first:110%;
    --ptt:7%;
}
* {
    background-color: rgb(60,60,60);
}

p{
    background-color: rgba(0%, 0%, 0%, 0);
    position: absolute; 
    top: 130%;
    bottom: 200%;
    left: 21%;
    right: 21%;
    opacity: 0;
    color: white;
    font-size:36px; 
    font-family: 微軟正黑體;
}

#sentence2{
    top: 108%;
}
#ptt1{
    top: 113%;
}
#ptt2{
    top:122%;
}
#ptt3{
    top:131%;
}
#ptt4{
    top:140%;
}
#ptt5{
    top:149%;
}
#ptt6{
    top:158%;
}
#ptt7{
    top:167%;
}
#ptt_tail{
    top:176%;
}

#question_is{
    top:140%;
}

#question{
    top:120%;
}

img {
    position: absolute;
    background-color: rgba(0%, 0%, 0%, 0);
    top: 105%;
    left: 5%;
    bottom:20%;
    width: 90%;
    opacity: 0;
}


#ptt>p {
     color : orange;
    /* margin: 1px 200px; */
}

